<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="oldpassword">old Password:</label>
        <input type="password" id="oldpwd" name="oldpsw"><br><br>
    
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPwd" name="newpsw"><br><br>
    
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmpwd" name="confirmpsw"><br><br>
    
        <button type="submit">change password</button>
        {{status}}
    </form>
</body>
</html>